@import '../variables';

.solo-card-wrapper {
  border: $bronze 1px solid;
  width: 100%;
  margin: 0.25em 0;
  color: black;
  background: rgba(255, 250, 240, 0.65);
  cursor: pointer;
}

.solo-card-details {
  display: flex;
  margin: 0 0.5em;
}

.card-spell-name {
  width: 70%;
  margin: 1em 0 0 1em;
  border-bottom: black 1px solid;
}

.plus-minus-icon {
  width: 3em;
  margin: 1em;
}

.solo-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
