@import '../variables.scss';

.spell-book-view-wrapper {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.spellbook-wrapper {
  padding: 3em;
  width: 60%;
  cursor: pointer;
}

.spellbook-index-wrapper {
  width: 20%;
  height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: floralwhite;
}

.spellbook-index-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.spellbook-index-wrapper::-webkit-scrollbar {
  width: 10px !important;
  background-color: transparent;
}

.spellbook-index-wrapper::-webkit-scrollbar-thumb {
  background: radial-gradient(
    circle,
    rgba(175, 138, 104, 1) 3%,
    rgba(113, 75, 1, 1) 76%
  );
  border-radius: 10px;
  border: #332200 1px solid;
}

.spell-index-title {
  border-bottom: $bronze 2px solid;
  width: 65%;
  margin: 1em;
  text-align: center;
}

.page {
  background-image: url('../assets/book-page.jpg');
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
  background-size: 100% 100%;
}

.book-cover {
  @extend .page;
  background-image: url('../assets/book-cover.jpg');
}

.no-scrolls-warning {
  text-align: center;
  width: 35%;
  padding: 3em;
  color: floralwhite;
}

.warning-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
