@import '../variables';

.search-wrapper {
  width: 100%;
  border: blue 2px solid;
}

.spell-cards-wrapper {
  border: red 2px solid;
  width: 50%;
  padding: 1em;
}

.all-spell-wrapper {
  width: 100%;
  border: pink 2px solid;
  display: flex;
  justify-content: space-between;
}

.spell-details-wrapper {
  width: 50%;
  border: green 2px solid;
}
