@import '../variables';

.search-wrapper {
  width: 100%;
}

.search-results-wrapper {
  width: 40%;
}

.spell-cards-wrapper {
  width: 100%;
  margin: 1em;
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.click-message {
  text-align: center;
  color: $bronze;
  margin: 2em;
}

.spell-cards-wrapper::-webkit-scrollbar {
  width: 10px !important;
  background-color: transparent;
}
.spell-cards-wrapper::-webkit-scrollbar-thumb {
  background: radial-gradient(
    circle,
    rgba(175, 138, 104, 1) 3%,
    rgba(113, 75, 1, 1) 76%
  );
  border-radius: 10px;
  border: #332200 1px solid;
}

.all-spell-wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.spell-details-wrapper {
  width: 40%;
  margin: 3em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-criteria-title {
  text-align: center;
  color: $bronze;
}
