@import '../variables.scss';

.homepage-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.class-card-wrapper {
  // border: $bronze 2px solid;
  text-align: center;
  text-decoration: none;
  color: floralwhite;
  padding: 3em 0;
  background-image: url('../assets/gold-frill.png');
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
  background-size: 100% 100%;
}

.all-classes-wrapper {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.homepage-header {
  color: $bronze;
}

.leather-background {
  background-image: url('../assets/leather-brown.jpeg');
  border-radius: 10px;
}
