@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  width: 100%;
  background-image: url('../assets/writing-desk.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lusitana', serif;
  margin: 0.35em;
}

p {
  // margin: 1em 0.5em;
  font-family: 'Roboto', sans-serif;
}
